# Database
# DATABASE_URL="sqlite:///./logger.db"

# API Keys
TMDB_API_KEY="093e523588d7edcdfaa85170597699e1"
IGDB_CLIENT_ID="bq155dzg3bfestq1pv6fymns90tu3t"
IGDB_CLIENT_SECRET="vj4my39pp04xynppblrb8weoufuzns"
